/************************************************\
==================================================
4. Footer.css
==================================================
\************************************************/

footer {
	@include custom_border_top();
	padding-top: 20px;
	padding-left: 50px;
	li{
	    display: inline;
	    list-style: none; /* pour enlever les puces sur IE7 */
	    padding: 0 10px 0 6px;
	}
	li:nth-child(-n+3){
		border-right: groove grey 2px;
	}
    img{
    	height: 16px;
    }
}