header{
	@include custom_border_bottom();
	nav{
		.col-md-3{
			height: 100px
		}
		.col-md-7{
			position: relative;
			top: 50px;
		}
		img{
			position: relative;
			z-index: 2;
			width: 100%;
		}
		ul{
			padding-left: 0;
		}
		li{
		    display: inline;
		    list-style: none; /* pour enlever les puces sur IE7 */
		    padding: 0 10px 0 6px;
		    a{
		    	font-size: 1.8em;
		    	color: black;
    			font-weight: bold;
		    }
		}
		li:nth-child(-n+3){
			border-right: groove grey 2px;
		}
	}	
}