.side_nav {
  z-index: 1;
  background-color: $bleu_fonce;
  padding-right: 0;
  h3, h4,  li, a {
    color: white;
  }
  .link ul {
    margin-top: 70%;
    list-style: none;
    padding-left: 0px;
    li:first-child{
      font-weight: bold;
    }
    li {
      margin: 15px 0px;
      padding: 5px 0px;
      height: 100%;
      a{
        margin-left: 15px;
      }
    }
    li:hover{
      z-index: 2;
      background-image: url(../images/help_css/Pastille_menu_01.png);
      background-size: cover;

    }
  }
  .logo{
    img{
      width: 100%;
    }
  }
}