/************************************************\
==================================================
3. Slider css
==================================================
\************************************************/

.slider_head {
	@include custom_border_bottom();
	#myCarousel {
		.carousel-indicators {
			left: 107%;
			width: 20%;
			bottom: -10px;
			li {
				width: 20px;
				height: 20px;
				margin: 8px;
				background-color: $rose;
				border: none;
			}
			.active {
				background-color: $rose;
				opacity: 0.6;
			}
		}
	}
}